

     
      
html{
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #E24E56 0%, #391416 51.74%, #000E11 100%);
    background-repeat: no-repeat;
    color: #FFFFFF;

}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
section{
    height: 100%;
}
main{
    margin: auto 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

header svg{
    width: 60%;
}

h1{
    font-size: 109px;
    font-weight: 800;
    line-height: 133px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff; /* Couleur du texte */
    
}
header, article{
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    
}

h2{
    font-size: 160px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff; /* Couleur du texte */

}
.intro h2{
    font-size: 155px;
    line-height: 140px;
    text-align: left;
    -webkit-text-stroke: #ffffff 5px;
}



header a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color:  #E24E56;
    font-weight:bold;
    font-size: 43px;
    -webkit-text-stroke: #E24E56 1px;
    border-radius: 20px;
    position: relative;
    left: 116px;
    top: 208px;
}

.hidden{
    opacity: 0;
    
}
.show{
    opacity: 1;
    transition: all 1.5s ease-in-out;
    
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}
.chiffre{
    
    font-size: 240px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    line-height: 290px;

}
.intro-text{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.barre{
    width: 80%;
    height: 5px;
    background-color: #FFFFFF;
    margin: 20px 0;
   
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50,
  'text-align' 'center'
}

.material-symbols-outlined{
    
    font-size: 100px !important;
}
article a{
    color: transparent !important;
    -webkit-text-stroke: #ffffff 1px;
    position: relative;
    top: 12%;
}
.intro a{
    width: 100%;
    
    text-align: center;
    
   
}

article a:hover{
    color: #ffffff !important;
    -webkit-text-stroke: #ffffff 1px;
    transition: all 0.5s ease-in-out;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #E24E56;
    width: 9px;
    position: fixed;
    top: 41vh;
    border-radius: 0 20px 20px 0;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;   
    text-align: center;display: flex;
    flex-direction: column;
    gap: 5px;

}
nav ul a{
    text-decoration: none;
    color: #E24E56;
    font-weight: 900;
}


.intro-video, .carriere-video{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.intro-video a{
    top: 15px
}
.histoire-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.histoire-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.histoire-text{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.histoire-text p{
  width: 50%;
}

.audio-container{
    background-color: rgba(126, 53, 53, 0.218);
    padding: 10px;
    border-radius: 20px;
}
.audio-spectrum {
    display: flex;
    justify-content: space-around;
    width: 400px;
    max-width: 600px;
    align-items: center;
    height: 120px;
}

.bar {
    width: 15px;
    height: 100px;
    background-color: #3498db;
    margin: 0 4px;
    animation: grow 0.4s infinite alternate;
}

@keyframes grow {
    to {
        height: calc(50px + var(--random-height));
    }
}

.paused{
    animation-play-state: paused;
}

.audio-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 
    gap: 20px
}
.carriere-video a{
  top:24px
}


.carriere-graph{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carriere-graph-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   
    ;
}
.carriere-graph p{
  width: 50%;
}
.carriere-graph a{
  top:0
}
.carriere-champions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  .carriere-champions-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
 

}

.carriere-champions img{
  width: 60%;
}
.carriere-champions a{
  top: 6%;
}
.carriere-audio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-image: url('carriere.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  a{
    top: 36%;
  }
  audio{
    margin-top: 100px;
    scale: 1.5;
  }
}
.carriere-audio-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  p{
    width: 50%;
  }
}

.quotidien-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  a{
    top: 0;
  }
  h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .quotidien-content{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img{
    border-radius: 15px;
    width: 75%;
  }
}

.quotidien-audio{
  background-image: url('win.png');
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  audio{
    margin-top: 550px;
    scale: 1.5;
  }
 
}

.quotidien-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  a{
    top: 230px;
  }
  h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .quotidien-content{
    margin: 0 auto;
  }
  img{
    border-radius: 15px;
  }
  .quotidien-text-content{
    display: flex;
    justify-content: space-around;
  }
  p{
    width: 44%;
  }
}

.quotidien-citation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  p{
    font-size: 50px;
    font-weight: 700;
  }

  #gui{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
  .gui{
    font-size: 300px;
  }
  #bora{
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    text-align: end;
    margin-right: 80px;
  }
}

.pression-image, .pression-tweet, .pression-text, .pression-audio, .depression-intro, .histoire-audio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
  .pression-image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    height: 100%;
    
  }
  audio{
    margin-top: 550px;
    scale: 1.5;
  }
  img{
    width: 100%;
    margin-block: 30px;
    border-radius: 20px;
    margin: 0;
  }
  a{
    top: 0;
  }
  .pression-tweet-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 35px;

    p{
      width: 45%;
    }
    .pression-tweet-content-tweet p{
      text-align: center;
      font-size: 15px;
      width: 100%;
    }
    
  }
}

.pression-tweet a{
  top: 12%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.pression-text{
  
  .list{
    display: flex;
    height: 100%;
    gap: 20px;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
  }
  ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }
  .line{
    height: 100%;
    width: 10px;
    background-color: #E24E56;
  }
  .list-title{
    font-size: 22px;
    font-weight: 700;
  }
  .list-title::before {
    content: "\25A0"; /* Code unicode pour un petit cube (■) */
    display: inline-block;
    margin-right: 5px; /* Espace entre le cube et le texte du titre */
    margin-bottom: 6px;
    color:#E24E56;
     /* Couleur du cube (remplacez par votre couleur préférée) */
  }
  .list-title{
    display: flex;
    align-items: center;
  }
  h3{

    margin-bottom: 15px;
  }
  
}

.pression-audio{
  background-image: url('pression.png');
  background-position: center center;
  background-position: cover;
  background-size: cover;

  a{
    top: 12%;
  }
}

.depression-intro{
  .goodnight{
    display: flex;
    justify-content: space-around;
    align-items: center;

    p{
      width: 100%;
    }
  }
  .big{
    font-size: 130px;
    font-weight: 700;
    line-height: normal;
    line-height: 0.9;
  }
  a{
    top: 12%;
  }
}

.histoire-audio{
  background-image: url('histoire.png');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;

  a{
    top: 12%;
  }

  
  audio{
    margin-top: 200px;
    scale: 1.5;
  }
}

